@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}
P {
  font-size: 12px;
  margin: 5px !important;
  padding: 0;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
.btn1 {
  height: 30px;
  font-size: 11px;
  box-shadow: none !important;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
}
.header {
  padding: 10px;
}
.header .ant-btn {
  height: 30px;
  box-shadow: none !important;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
}
.content {
  min-height: 90vh;
}

.car {
  border-radius: 5px;
  margin-top: 100px;
  height: 170px;
  transition: 0.3s;
}

.car:hover {
  height: 180px;
}
.car:hover > .car-content {
  opacity: 1;
  transform: translateY(-50px);
}
.carimg {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transform: translateY(-50px);
}

.car-content {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}

/* --------------------------------------------------- */

.login {
  background-color: black;
  min-height: 100vh;
}
.login label,
.login h1 {
  color: white !important;
  opacity: 0.6;
}
.loginForm {
  background-color: #1f1f1f;
}
.loginForm input {
  background-color: #333333 !important;
  border: none !important;
  color: white;
  opacity: 0.5;
}
.imgLogin {
  height: 100%;
  width: 100%;
}
.loginLogo {
  position: absolute;
  left: 0;
  right: 0;
  top: 350px;
}

.login a {
  color: white !important;
  opacity: 0.5;
}
.carimg2 {
  height: 400px;
  border-radius: 10px;
  width: 100%;
}

svg {
  height: 20px !important;
  width: 20px !important;
}

a {
  color: orangered !important;
}

.footer {
  padding: 10px;
}

.imggg {
  width: 70%;
  margin: 0;
  margin-left: 12%;
}
